<nav>
    <ul>
        {% for day in days %}
        <li>
            <a class="{% if  active_name  == day.name %}active{% else %}{% endif %}" href="{{ day.file_name }}">{{ day.name }}</a>
        </li>
        {% endfor %}

    </ul>
</nav>